<h1>header</h1>
<!--面包屑导航-->


<title><{$title}></title>
<meta name="Keywords" content="<{$keyword}>"/>  
<meta name="Description" content="<{$description}>"/>

	<!-------------------------------->
		<a href="<{$base_url}>index.html">首页</a>
		<a href="<{$base_url}>introduce.html">企业简介</a>
		<a href="<{$base_url}>news.html">新闻资讯</a>
		<a href="<{$base_url}>products.html">产品供应</a>
		<!--<a href="<{$base_url}>/purchase.html">公司采购</a>-->
		<a href="<{$base_url}>projects.html">工程案例</a>
		<a href="<{$base_url}>jobs.html">人才招聘</a>
		<a href="<{$base_url}>info.html">信息反馈</a>
		<a href="<{$base_url}>contect.html">联系我们</a>
	<!-------------------------------->
<br>
导航:<{$where}>
